@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>The K-Manager app is instead only for K-Grocery employees and contractors only. If you do not fall within either of these classes you are viewing this page illegally and will be prosecuted thoroughly.</p>
